In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from statsmodels.stats.outliers_influence import variance_inflation_factor
import matplotlib.pyplot as plt

from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import Lasso,Ridge,BayesianRidge,ElasticNet,HuberRegressor,LinearRegression,LogisticRegression,SGDRegressor
from sklearn.metrics import mean_squared_error
import joblib

In [46]:
# model load
loaded_model = joblib.load('./simplemodel.pkl')

In [71]:
# load data

'''
brand model year transmission mileage fuelType tax mpg engineSize
12013							.0		1.0
12103	104400
						.0		4.0
'''
json_data = '''
[{
    "brand" : "merc",
    "model" : "S Class",
    "year" : "2018",
    "transmission" : "Semi-Auto",
    "mileage" : "3796",
    "fuelType" : "Petrol",
    "tax" : "145.0",
    "mpg" : "31.7",
    "engineSize" : "4.0"
}]
'''

In [72]:
# convert to dataframe
import json
from pandas import json_normalize
a_json = json.loads(json_data)
df = json_normalize(a_json)
df

  brand    model  year transmission mileage fuelType    tax   mpg engineSize
0  merc  S Class  2018    Semi-Auto    3796   Petrol  145.0  31.7        4.0

In [73]:
# data dtype parse
'''
year, mileage - int64
tax, mpg, engineSize - float64
'''
df = df.astype({'year' : 'int64'})
df = df.astype({'mileage' : 'int64'})
df = df.astype({'tax' : 'float64'})
df = df.astype({'mpg' : 'float64'})
df = df.astype({'engineSize' : 'float64'})

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         1 non-null      object
 1   model         1 non-null      object
 2   year          1 non-null      int64
 3   transmission  1 non-null      object
 4   mileage       1 non-null      int64
 5   fuelType      1 non-null      object
 6   tax           1 non-null      float64
 7   mpg           1 non-null      float64
 8   engineSize    1 non-null      float64
dtypes: float64(3), int64(2), object(4)
memory usage: 200.0+ bytes

In [75]:
# 데이터 전처리 
df.replace({'brand' : { 'audi' : 1, 'bmw' : 2, 'merc' : 3, 'vw': 4, 'toyota': 5, 'ford': 6, 'hyundi': 7, 'skoda': 8, 'vauxhall':9 }},inplace=True)
df['transmission_Automatic'] = 0
df['transmission_Manual']=0
df['transmission_Semi-Auto']=1
df['fuelType_Diesel'] = 0
df['fuelType_Hybrid'] = 0
df['fuelType_Other'] = 0
df['fuelType_Petrol'] = 1
df.drop(['model', 'transmission', 'fuelType'], axis=1, inplace=True)
df

,brand,year,mileage,tax,mpg,engineSize,transmission_Automatic,transmission_Manual,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,3,2018,3796,145.0,31.7,4.0,0,0,1,0,0,0,1

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   brand                   1 non-null      int64
 1   year                    1 non-null      int64
 2   mileage                 1 non-null      int64
 3   tax                     1 non-null      float64
 4   mpg                     1 non-null      float64
 5   engineSize              1 non-null      float64
 6   transmission_Automatic  1 non-null      int64
 7   transmission_Manual     1 non-null      int64
 8   transmission_Semi-Auto  1 non-null      int64
 9   fuelType_Diesel         1 non-null      int64
 10  fuelType_Hybrid         1 non-null      int64
 11  fuelType_Other          1 non-null      int64
 12  fuelType_Petrol         1 non-null      int64
dtypes: float64(3), int64(10)
memory usage: 232.0 bytes

In [77]:
pred = loaded_model.predict(df)

In [78]:
pred

array([98842.61558873])

In [60]:
temp1 = pd.DataFrame()

In [62]:
temp1 = temp1.append({'price' : 16713}, ignore_index=True)
temp1

     price
0  16713.0

In [65]:
from sklearn.metrics import r2_score
print(r2_score(temp1['price'], pred))

nan

/usr/local/lib/python3.7/site-packages/sklearn/metrics/_regression.py:594: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)